.semi-circle {
    width: 100%; /* Set the width to 100% to match the width of the parent container */
    height: 100px; /* Set the height of the semi-circle */
    border-radius: 50% 50% 0 0; /* Use different border-radius values to create a semi-circle */
    overflow: hidden; /* Hide the part of the circle below the container's height */
    transform: rotate(180deg); /* Flip the semi-circle upside down */
    background-color: #344055;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    /* For MacBook Air screen */
    width: 100vw;
    height: 563px;
    flex-shrink: 0;

  }